<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/" method="post">
      <input type="text" name="ingredient_name">
      <input type="submit">
    </form>

    <ul>
      <% ingredients.forEach(ingredient => { %>
        <li> <%= ingredient.name %>
          <a href="/ingredients/<%= ingredient._id %>/edit">Edit</a>

          <form action="/ingredients/<%= ingredient._id %>/delete" method="post">
            <input type="submit" value="delete">
          </form>

        </li>
      <% }) %>
    </ul>
  </body>
</html>
